.loader1{
    height: 10% !important;
    width: 10% !important;
    margin-left: 40% !important;
    margin-top: 9% !important;
    position: absolute !important;
}

.loader2{
    height: 10% !important;
    width: 5% !important;
    margin-left: 45% !important;
    position: absolute !important;
    margin-top: 9% !important;
}
 .supporter{

    
    height: 100% !important;
    width: 25% !important;
 }